<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/login.css" />
</head>

<body>

  <div class="login-block">
    <div class="login-header">Login</div>

    <div class="login-input">
      Email:<br />
      <input id="email-input" type="email" />
    </div>

    <div class="login-input">
      Password:<br />
      <input id="pwd-input" type="password" />
    </div>

    <div style="margin-top: auto;">
      <button id="login-btn">Login</button>
    </div>
  </div>

  <div class="login-block" style="border-left: 1px solid black; padding-left: 4em; margin-left: 2em;">
    <div class="login-header">Register</div>

    <div class="login-input">
      Username:<br />
      <input id="new-username-input" type="text" />
    </div>

    <div class="login-input">
      Email:<br />
      <input id="new-email-input" type="email" />
    </div>

    <div class="login-input">
      Password:<br />
      <input id="new-pwd-input" type="password" />
    </div>

    <div>
      <button id="register-btn">Register</button>
    </div>
  </div>

</body>
<script src="scripts/http.js"></script>
<script src="scripts/login.js"></script>

</html>